<div class="container">
  <div class="row">
    <div class="total-box col-md-3">
      <%=number_to_currency(@todayexpenses)%>
      <span>Today</span>
    </div>
    <div class="total-box col-md-3">
      <%=number_to_currency(@yesterdayexpenses)%>
      <span>Yesterday</span>
    </div>
    <div class="total-box col-md-3">
      <%=number_to_currency(@thismonthexpenses)%>
      <span>This Month</span>
    </div>
    <div class="total-box col-md-3">
      <%=number_to_currency(@lastmonthexpenses)%>      
      <span>Last Month</span>
    </div>
  </div>

  <div class="row" style="margin-top: 40px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Last 6 Months</div>
        <div class="panel-body">
          <div id="expenses-chart" style="height: 250px;">
          
          </div>
        </div>
      </div>
    </div>
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Per Day</div>
        <div class="panel-body">
          <div id="daily-expenses-chart" style="height: 250px;">
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Per Category</div>
        <div class="panel-body">
          <div id="category-chart" style="height: 250px;"></div>
        </div>
      </div>
    </div>
    <div class=" box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Acumulado</div>
        <div class="panel-body">
          <div id="month-acc" style="height: 250px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
